/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */

@import "tailwindcss";
@import "@nuxt/ui";

/* :root {
    --color-primary: #358F80;
    --color-secondary: #ffed4a;
    --color-ternary: #ffed4a;
    --color-fornary: #ffed4a;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
} */